{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 4,
        "printWidth": 88
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
