:root {
  --intensity-0: #202020;
  --intensity-1: #003264;
  --intensity-2: #0064c8;
  --intensity-3: #1e9632;
  --intensity-4: #ffc800;
  --intensity-5: #ff9600;
  --intensity-6: #ff6400;
  --intensity-7: #ff0000;
  --intensity-8: #c00000;
  --intensity-9: #9600c8;
}

.intensity-0 {
  color: #fff;

  &:not(> .report-epicenter-marker) {
    outline: 1px solid #808080;
    background-color: #202020;
  }

  &:empty::after {
    content: "0";
  }
}

.intensity-1 {
  color: #fff;
  background-color: var(--intensity-1);

  .cross-inner {
    fill: var(--intensity-1);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "1";
  }
}

.intensity-2 {
  color: #fff;
  background-color: var(--intensity-2);

  .cross-inner {
    fill: var(--intensity-2);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "2";
  }
}

.intensity-3 {
  color: #fff;
  background-color: var(--intensity-3);

  .cross-inner {
    fill: var(--intensity-3);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "3";
  }
}

.intensity-4 {
  color: #000;
  background-color: var(--intensity-4);

  .cross-inner {
    fill: var(--intensity-4);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "4";
  }
}

.intensity-5 {
  color: #000;
  background-color: var(--intensity-5);

  .cross-inner {
    fill: var(--intensity-5);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "5⁻";
    letter-spacing: -1px;
  }
}

.intensity-6 {
  color: #fff;
  background-color: var(--intensity-6);

  .cross-inner {
    fill: var(--intensity-6);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "5⁺";
    letter-spacing: -1px;
  }
}

.intensity-7 {
  color: #fff;
  background-color: var(--intensity-7);

  .cross-inner {
    fill: var(--intensity-7);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "6⁻";
    letter-spacing: -1px;
  }
}

.intensity-8 {
  color: #fff;
  background-color: var(--intensity-8);

  .cross-inner {
    fill: var(--intensity-8);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "6⁺";
    letter-spacing: -1px;
  }
}

.intensity-9 {
  color: #fff;
  background-color: var(--intensity-9);

  .cross-inner {
    fill: var(--intensity-9);
  }

  .cross-outer {
    fill: #fff;
  }

  &:empty::after {
    content: "7";
  }
}

.intensity-unknow {
  color: #fff;
  background-color: #202020;
  box-shadow: inset 0px 0px 0px 2px #808080;

  &:empty::after {
    content: "?";
  }
}
