.skeleton:empty {
  animation: skeleton-loading 1s linear infinite alternate;
  background-repeat: no-repeat;
  border-radius: 24px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg 20% 80% / 0.25);
  }
  100% {
    background-color: hsl(200deg 20% 90% / 0.3);
  }
}
