:root {
  font-family: Inter, "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  font-variant-numeric: tabular-nums;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  inset: 0;
  margin: 0;
  color: var(--p-surface-200);
  background-color: color-mix(in lab, transparent, var(--p-surface-950) 64%);
  background-color: transparent;
  background-blend-mode: multiply;
  transition: background-color 0.1s ease-in-out;
  white-space: nowrap;
  user-select: none;

  /* primevue overrides */

  .p-panel-toggleable .p-panel-header {
    padding: 0.5rem 0.875rem;
  }
  .p-panel-content {
    padding: 0 0.875rem 0.875rem 0.875rem;
  }
  .p-panel-header-icon {
    overflow: hidden;
  }
  .p-progressbar-determinate .p-progressbar-value-animate {
    transition: width 0.5s ease-in-out;
  }
  .p-tooltip-text {
    padding: 8px;
    line-height: 100%;
    font-size: 14px;
  }

  /* maplibre overrides*/

  .maplibregl-popup {
    box-shadow: 0 0 16px 0 hsl(0deg 0% 0% / 0.2);
    z-index: 999;
  }
  .maplibregl-popup-content {
    font-family: Inter, "Noto Sans TC", sans-serif;
    background-color: var(--p-surface-800);
    outline: 1px solid var(--p-surface-400);
    padding: 8px;
    border-radius: 8px;
  }
  .maplibregl-popup-tip {
    display: none;
  }
}

#app {
  display: grid;
  grid-template-rows: 32px 1fr;
  width: 100svw;
  height: 100svh;
}
