@import url(./styles/colors.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  font-variant-numeric: tabular-nums;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  inset: 0;
  margin: 0;
  color: var(--t-secondary-text-color);
  background-color: var(--t-background-color);
  background-blend-mode: multiply;
  transition: background-color 0.1s ease-in-out;
  white-space: nowrap;
  user-select: none;

  /* primevue overrides */
  /* 
  .p-panel-toggleable .p-panel-header {
    padding: 0.5rem 0.875rem;
  }
  .p-panel-content {
    padding: 0 0.875rem 0.875rem 0.875rem;
  }
  .p-panel-header-icon {
    overflow: hidden;
  }
  .p-progressbar-determinate .p-progressbar-value-animate {
    transition: width 0.5s ease-in-out;
  }
  .p-tooltip-text {
    padding: 8px;
    line-height: 100%;
    font-size: 14px;
  } */

  /* maplibre overrides*/

  .maplibregl-canvas:focus-visible {
    outline: none;
  }
  .maplibregl-popup {
    box-shadow: 0 0 16px 0 hwb(0 0% 100% / 0.2);
    z-index: 9999;
  }
  .maplibregl-popup-content {
    font-family: Inter, "Noto Sans TC", sans-serif;
    background-color: var(--t-surface-elevated-color);
    outline: 1px solid var(--p-surface-400);
    padding: 8px;
    border-radius: 8px;
  }
  .maplibregl-popup-tip {
    display: none;
  }
}

body.win11 {
  background-color: transparent;
}

#app {
  position: relative;
  display: grid;
  grid-template-rows: 32px 1fr;
  width: 100svw;
  height: 100svh;
}

/* Primary and Surface Palettes */
:root {
  --p-primary-50: var(--p-surface-50);
  --p-primary-100: var(--p-surface-100);
  --p-primary-200: var(--p-surface-200);
  --p-primary-300: var(--p-surface-300);
  --p-primary-400: var(--p-surface-400);
  --p-primary-500: var(--p-surface-500);
  --p-primary-600: var(--p-surface-600);
  --p-primary-700: var(--p-surface-700);
  --p-primary-800: var(--p-surface-800);
  --p-primary-900: var(--p-surface-900);
  --p-primary-950: var(--p-surface-950);
  --p-surface-0: #ffffff;
  --p-surface-50: #f8fafc;
  --p-surface-100: #f1f5f9;
  --p-surface-200: #e2e8f0;
  --p-surface-300: #cbd5e1;
  --p-surface-400: #94a3b8;
  --p-surface-500: #64748b;
  --p-surface-600: #475569;
  --p-surface-700: #334155;
  --p-surface-800: #1e293b;
  --p-surface-900: #0f172a;
  --p-surface-950: #020617;
  --p-content-border-radius: 6px;
}

/* Light Mode */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
* Dark Mode
* Change the .p-dark to match the darkMode in tailwind.config.
* For example; 
*  darkMode: ['selector', '[class*="app-dark"]'] 
*  should match;
* :root.app-dark
*/
:root.p-dark {
  --p-primary-color: var(--p-primary-400);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 84%
  );
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 76%
  );
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}
